<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
      <header class="hero">
        <nav>
          <button class="btn"><a href="/#" class="nav-a">Home</a></button>
          {{#if loggedIn}}
          <button class="btn"><a href="/dashboard" class="nav-a">Dashboard</a></button>
          <button id="logout" class="btn">Logout</button>
          {{else}}
          <button class="btn"><a href="/login" class="nav-a">Login</a></button>
          {{/if}}
        </nav>
        <h1 class="app-title">
          <a href="/" class="nav-head">The Tech Blog</a>
        </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>